input.ng-pristine.ng-invalid, textarea.ng-pristine.ng-invalid
  border-bottom:1px solid #51565a;
input.ng-dirty.ng-invalid, textarea.ng-dirty.ng-invalid
  border-bottom:1px solid #f00 !important;
input.ng-valid, textarea.ng-valid
  border-bottom:1px solid #51565a !important;
.map
  input.ng-pristine.ng-invalid, textarea.ng-pristine.ng-invalid
    border-bottom:1px solid #9b9b9b;
  input.ng-dirty.ng-invalid, textarea.ng-dirty.ng-invalid
    border-bottom:1px solid #f00 !important;
  input.ng-valid, textarea.ng-valid
    border-bottom:1px solid #9b9b9b !important;
.inner-popup-block
  input.ng-pristine.ng-invalid, textarea.ng-pristine.ng-invalid
    border-bottom:1px solid #92938d;
  input.ng-dirty.ng-invalid, textarea.ng-dirty.ng-invalid
    border-bottom:1px solid #f00 !important;
  input.ng-valid, textarea.ng-valid
    border-bottom:1px solid #92938d !important;


