aside.aside
    .content-aside
        header.header
            a.wrapper-logo(href="./")
                img(src="./images/logo.png" width="107" height="53")
        .choise-town
        nav.nav
            ul
                li
                    a(href="./documentation.html") Документация
                li
                    a.active(href="./checkout.html") Оформление заказа
                li
                    a(href="./benzovozi.html") Аренда бензовозов
                li
                    a(href="./price.html") Цены
                li
                    a(href="./contacts.html") Контакты
    dl.info
        dd
            a(href="tel:+78007759338") <span>8-800</span>-775-93-38
        dt
            a(ng-click="openPopup('recall',{})") Заказать звонок
        dd
            a(href="mailto:mail@tdfenix.com?subject=Заказать звонок") mail@tdfenix.com

