footer.footer
    .footer-map
        .to-find-us
            h1.title Как нас найти
            h2 ООО «Феникс»
            ul
                li 8 (800) 775-93-38
                li mail@tdfenix.com
                li 428032, г Чебоксары,пл. Речников, д 3,помещение №2, офис 11
        .wrapper-footer-map(ng-controller="GMapCtrl")
            ui-gmap-google-map(center='{"latitude": 56.1482938,"longitude": 47.2592382}' zoom='16' options="options")
                ui-gmap-marker(coords='{"latitude": 56.1482938,"longitude": 47.2592382}' options="marker.options" idkey="1" ng-init="marker.options.icon='images/map-logo.png'")
    .footer-links
        div.block
            h3 Главное меню
            ul
                li
                    a(href="./") Документация
                li
                    a(href="./") Оформление заказа
                li
                    a(href="./") Аренда бензовозов
                li
                    a(href="./") Цены
                li
                    a(href="./") Контакты
        div.block
            h3 Навигация
            ul
                li
                    a(href="./navigation.html") Виды бензина
                li
                    a(href="./navigation.html") АИ-92-4
                li
                    a(href="./navigation.html") АИ-95-4
                li
                    a(href="./navigation.html") Виды дизеля
                li
                    a(href="./navigation.html") Дизельное топливо
                li
                    a(href="./navigation.html") СМТ
                li
                    a(href="./navigation.html") Печное топливо
                li
                    a(href="./navigation.html") Виды керосина
                li
                    a(href="./navigation.html") Керосин
        div.block
            h3 Производители
            // В случае если у ul более 9 элементов, то ul добаляется класс .double-width
            ul.double-width
                li
                    a(href="./manufacturer.html") Антипинский НПЗ
                li
                    a(href="./manufacturer.html") Астраханский ГПЗ
                li
                    a(href="./manufacturer.html") Газпром нефтехим Салават
                li
                    a(href="./manufacturer.html") Газпромнефть-МНПЗ
                li
                    a(href="./manufacturer.html") КРУ Татнефть АЗС-Центр
                li
                    a(href="./manufacturer.html") Куйбышевский НПЗ
                li
                    a(href="./manufacturer.html") НПЗ ТАНЕКО
                li
                    a(href="./manufacturer.html") Новойл
                li
                    a(href="./manufacturer.html") НПК
                li
                    a(href="./manufacturer.html") СЗСК Газпром переработка
                li
                    a(href="./manufacturer.html") Славнефть
                li
                    a(href="./manufacturer.html") Сызранский НПЗ
                li
                    a(href="./manufacturer.html") ТАИФ
                li
                    a(href="./manufacturer.html") Уфанефтехим
                li
                    a(href="./manufacturer.html") Уфимский НПЗ
                li
                    a(href="./manufacturer.html") ЧН Татнефть АЗС-Центр
        .block.also-questions
            h3 Остались вопросы?
            div
                a(ng-click="openPopup('ask_questions',{})") Задайте их менеджеру
    .footer-bottom
        .container
            .copyright
                span ©
                | 2015 «fenix»
            a.firm-logo(href='http://tutmee.ru')
                div
                    span Создание дизайна
                    span и разработка сайтов
                    span LTD Tutmee.ru
                div
                    img(src='./images/firm-logo.png' width="198" height="51")