footer.footer
    .footer-map
        .to-find-us
            h1.title Как нас найти
            h2 ООО «Феникс»
            ul
                li 8 (800) 775-93-38
                li mail@tdfenix.com
                li 428032, г Чебоксары,пл. Речников, д 3,помещение №2, офис 11
    .footer-links
        div.block
            h3 Главное меню
            ul
                li
                    a(href="./") Документация
                li
                    a(href="./") Оформление заказа
                li
                    a(href="./") Аренда бензовозов
                li
                    a(href="./") Цены
                li
                    a(href="./") Контакты
        div.block
            h3 Навигация
            ul
                li
                    a(href="./") Виды бензина
                li
                    a(href="./") АИ-92-4
                li
                    a(href="./") АИ-95-4
                li
                    a(href="./") Виды дизеля
                li
                    a(href="./") Дизельное топливо
                li
                    a(href="./") СМТ
                li
                    a(href="./") Печное топливо
                li
                    a(href="./") Виды керосина
                li
                    a(href="./") Керосин
        div.block
            h3 Производители
            // В случае если у ul более 9 элементов, то ul добаляется класс .double-width
            ul.double-width
                li
                    a(href="./") Антипинский НПЗ
                li
                    a(href="./") Астраханский ГПЗ
                li
                    a(href="./") Газпром нефтехим Салават
                li
                    a(href="./") Газпромнефть-МНПЗ
                li
                    a(href="./") КРУ Татнефть АЗС-Центр
                li
                    a(href="./") Куйбышевский НПЗ
                li
                    a(href="./") НПЗ ТАНЕКО
                li
                    a(href="./") Новойл
                li
                    a(href="./") НПК
                li
                    a(href="./") СЗСК Газпром переработка
                li
                    a(href="./") Славнефть
                li
                    a(href="./") Сызранский НПЗ
                li
                    a(href="./") ТАИФ
                li
                    a(href="./") Уфанефтехим
                li
                    a(href="./") Уфимский НПЗ
                li
                    a(href="./") ЧН Татнефть АЗС-Центр
        .block.also-questions
            h3 Остались вопросы?
            div
                a Задайте их менеджеру
    .footer-bottom
        .container
            .copyright
                span ©
                | 2015 «fenix»
            a.firm-logo(href='http://tutmee.ru')
                div
                    span Создание дизайна
                    span и разработка сайтов
                    span LTD Tutmee.ru
                div
                    img(src='./images/firm-logo.png' width="198" height="51")