meta(charset='utf-8')
meta(name="viewport" content="width=1200")
meta(name="format-detection" content="telephone=no")
meta(name="description" content="Description")
meta(name="keywords" content="Keywords")
title Феникс
link(rel="icon" type="image/png" href="./images/favicon.png")
link(rel="stylesheet" href="./styles/application.css")