meta(charset='utf-8')
meta(name="viewport" content="width=1200")
meta(name="format-detection" content="telephone=no")
meta(name="description" content="Description")
meta(name="keywords" content="Keywords")
title Феникс
link(rel="icon" type="image/png" href="./images/favicon.png")
script(async).
    var loadCSSFiles=function(){var e,t,a=["./styles/application.css"],n=document.getElementsByTagName("head")[0];for(t=0;t<a.length;t++)e=document.createElement("link"),e.rel="stylesheet",e.href=a[t],n.appendChild(e)},raf=requestAnimationFrame||mozRequestAnimationFrame||webkitRequestAnimationFrame||msRequestAnimationFrame;raf?(raf(loadCSSFiles)):window.addEventListener("load",loadCSSFiles);