//popup
popup-svg(name="request").hide-block
    section.inner-popup-block
        h1.title-form(ng-if="!data.text_msg") Заявка
            button.overlay-close(rotate ng-click="closePopup('',{})")
                span
        h1.title-form(ng-if="data.text_msg")
            | {{data.text_msg}}
            button.overlay-close(rotate ng-click="closePopup('',{})")
                span
        form.form-validate(name="formValidate" ng-controller="FormCtrl" ng-init="action='./controller.php'" novalidate)
            div
                input#name1(type="text" name="name1" ng-model='dataForm.data.name' autocomplete="off" required)
                label(for="name1") Ваше имя
            div
                input#phone1(type="text" name="phone1" ng-model='dataForm.data.phone' autocomplete="off" required)
                label(for="phone1") Ваш телефон
            div
                textarea#msg1(type="text" name="msg1" ng-model='dataForm.data.msg' autocomplete="off" required)
                label(for="msg1") Сообщение
            .wrapper-send
                button.send(ng-click='send(dataForm,formValidate,action)')
                    span Отправить
            input(type="hidden" name="task" ng-init='dataForm.hidden.task="request"' ng-model='dataForm.hidden.task')
            input(ng-if="data.text_msg" type="hidden" name="text_msg" ng-init='dataForm.data.text_msg=data.text_msg' ng-model='dataForm.data.text_msg')
//Стань партнером - блок выводить только на стрнаицах где есть <a href="" ng-click="openPopup('partners',{})"><span>Стань нашим партнером</span></a>
popup-svg(name="partners").hide-block
    section.inner-popup-block
        h1.title-form Стань партнером
            button.overlay-close(rotate ng-click="closePopup('',{})")
                span
        form.form-validate(name="formValidate" ng-controller="FormCtrl" ng-init="action='./controller.php'" novalidate)
            div
                input#name1(type="text" name="name2" ng-model='dataForm.data.name' autocomplete="off" required)
                label(for="name2") Ваше имя
            div
                input#phone1(type="text" name="phone2" ng-model='dataForm.data.phone' autocomplete="off" required)
                label(for="phone2") Ваш телефон
            div
                textarea#msg1(type="text" name="msg2" ng-model='dataForm.data.msg' autocomplete="off" required)
                label(for="msg2") Сообщение
            .wrapper-send
                button.send(ng-click='send(dataForm,formValidate,action)')
                    span Отправить
            input(type="hidden" name="task" ng-init='dataForm.hidden.task="partners"' ng-model='dataForm.hidden.task')
// Заказать - это блок будет на всех страницах
popup-svg(name="order").hide-block
    section.inner-popup-block
        h1.title-form Заказать
            button.overlay-close(rotate ng-click="closePopup('',{})")
                span
        form.form-validate(name="formValidate" ng-controller="FormCtrl" ng-init="action='./controller.php'" novalidate)
            div
                input#name1(type="text" name="name3" ng-model='dataForm.data.name' autocomplete="off" required)
                label(for="name3") Ваше имя
            div
                input#phone1(type="text" name="phone3" ng-model='dataForm.data.phone' autocomplete="off" required)
                label(for="phone3") Ваш телефон
            div
                textarea#msg1(type="text" name="msg3" ng-model='dataForm.data.msg' autocomplete="off" required)
                label(for="msg3") Сообщение
            div.info(ng-if="data.product")
                ul
                    li(ng-if="data.product.title")
                        h2(ng-bind="data.product.title")
                    li(ng-if="data.product.mark")
                        span maрка
                        | {{data.product.mark}}
                    li(ng-if="data.product.grade_of_fuel")
                        span класс топлива
                        | {{data.product.grade_of_fuel}}
                    li(ng-if="data.product.type")
                        span вид
                        | {{data.product.type}}
                    li(ng-if="data.product.fuel") ({{data.product.fuel}})
            .wrapper-send
                button.send(ng-click='send(dataForm,formValidate,action)')
                    span Отправить
            input(type="hidden" name="task" ng-init='dataForm.hidden.task="order"' ng-model='dataForm.hidden.task')
            input(ng-if="data.product" type="hidden" name="text" ng-init='dataForm.data.product=data.product' ng-model='dataForm.data.product')
// Заказать - это блок будет на всех страницах
popup-svg(name="recall").hide-block
    section.inner-popup-block
        h1.title-form Заказать звонок
            button.overlay-close(rotate ng-click="closePopup('',{})")
                span
        form.form-validate(name="formValidate" ng-controller="FormCtrl" ng-init="action='./controller.php'" novalidate)
            div
                input#name1(type="text" name="name4" ng-model='dataForm.data.name' autocomplete="off" required)
                label(for="name4") Ваше имя
            div
                input#phone1(type="text" name="phone4" ng-model='dataForm.data.phone' autocomplete="off" required)
                label(for="phone4") Ваш телефон
            div
                textarea#msg1(type="text" name="msg4" ng-model='dataForm.data.msg' autocomplete="off" required)
                label(for="msg4") Сообщение
            .wrapper-send
                button.send(ng-click='send(dataForm,formValidate,action)')
                    span Отправить
            input(type="hidden" name="task" ng-init='dataForm.hidden.task="recall"' ng-model='dataForm.hidden.task')