.footer
  position:relative
  z-index:0
  height:976px
  overflow:hidden
  width:100%
  +below(1540px)
    height:1064px
  .container
    width:1300px
    +below(1540px)
      width:100%
  .footer-map
    height:445px
    after()
    .to-find-us
      width:357px
      float:left
      height:100%
      background-color:#e8e5d2
      padding:72px 25px 0 36px
      .title
        text-transform:uppercase
        color:#51565a
        br(36px)
      h2
        margin:57px 0 36px
        rb(18px)
        color:#51565a
      ul
        li
          margin-top:28px
          padding-left:28px
          rl(14px, 1.3)
          color:#51565a
          position:relative
          z-index:0
          &:after
            content:''
            position:absolute
            z-index:0
            left:2px
            top:1px
          &:first-child:after
            margin-top:0
            top:-1px
            sprite($phone)
          &:nth-child(2):after
            sprite($email)
            top:3px
          &:nth-child(3):after
            sprite($location)
.footer-links
  padding:85px 0 91px
  height:462px
  +below(1540px)
    height:550px
  .block
    border-right:1px dashed #6f7376
    padding-left:37px
    dibt()
    height:306px
    &:nth-of-type(3)
      +below(1540px)
        border-right:none
      ul
        li
          width:215px
    &.also-questions
      +below(1540px)
        margin-top:20px
      h3
        color:#51565a
        br(48px)
        margin-bottom:15px
      > div
        > a
          color:#e5696b
          margin-left:23px
          position:relative
          z-index:0
          border-bottom:1px dashed #e5696b
          &:after
            content:''
            position:absolute
            z-index:1
            sprite($questions)
            left:-23px
            top:4px
    &:last-child
      border-right:none
    h3
      color:#51565a
      br(24px)
      margin-bottom:40px
    ul
      width:180px
      dibt()
      &.double-width
        width:440px
      > li
        width:174px
        dibt()
        margin-top:9px
        a
          display:block
          color:#51565a
          rl(14px, 1.3)
          text-decoration:none
          tn(.5s)
          position:relative
          z-index:0
          &:after
            tn(.5s)
            content:''
            position:absolute
            z-index:1
            left:-25px
            top:50%
            tt(0, -50%)
            sprite($link_arrow)
            opacity:0
          &:hover
            padding-left:19px
            color:#e5696b
            &:after
              left:0
              opacity:1
.footer-bottom
  padding-left:37px
  height:69px
  background-color:#6f7579
  .container
    after()
  .copyright
    position:relative
    z-index:0
    float:left
    height:69px
    osr(14px, 69px)
    color:#fff
    padding-left:35px
    padding-top:1px
    span
      dibt()
      position:absolute
      z-index:0
      color:#fff
      osl(36px, 69px)
      left:10px
      top:50%
      tt(-50%, -50%)
  .firm-logo
    margin-top:8px
    display:block
    text-decoration:none
    white-space:nowrap
    padding-top:10px
    float:right
    > div
      dibt()
      &:first-child
        position:relative
        z-index:0
        margin-right:8px
        text-align:right
        top:-7px
        span
          display:block
          color:#fff
          font:12px / 12px Arial, sans-serif
          margin-top:2px