.wrapper-list-products
  h1
    color:#51565a
    br(36px)
    padding:70px 0 48px 36px
  > ul
    > li
      background-color:#e8e5d2
      min-height 420px
      font-size:0
      > *
        dibt()
      .left-aside
        min-height 440px
        font-size:0
        white-space nowrap
        dibt()
        .wrapper-img
          dibt()
          background-repeat:no-repeat
          background-position:center center
          background-size cover
          min-height 440px
          width:600px
        .short-info
          dibt()
          padding:48px 18px 0
          height:100%
          width:170px
          > li
            color:#1f1f1c
            rl(16px, 1.4)
            margin-top:12px
            &:first-child
              margin-top:0
            strong
              color:#000
              padding-left:3px
      .content-info
        width:calc(100% - 770px)
        padding-left:30px
        background-color:#d9d6bf
        height:100%
        min-height 440px
        padding-top:48px
        h2
          color:#51565a
          rb(24px)
        .list-numbers
          padding-bottom:23px
          border-bottom:1px dashed #686c6b
          > li
            margin-top:12px
            color:#51565a
            rl(16px, 1.4)
            strong
              dibb()
              rb(16px, 1.4)
              margin-left:9px
            &:first-child
              margin-top:30px
        .list-drivers
          > li
            margin-top:28px
            &:first-child
              margin-top:0
            span
              display:block
              color:#51565a
              margin-bottom:6px
              rm(16px)
            a
              position:relative
              z-index:0
              text-decoration:none
              dibt()
              color:#e5696b
              margin-left:20px
              rr(16px)
              &:after
                content:''
                position:absolute
                z-index:1
                left:-17px
                top:50%
                tt(0, -50%)
                sprite($personal_data)
        h3
          margin:20px 0
          color:#51565a
          rl(16px)
        .order
          margin-top:36px
          padding-right:20px
          width:208px
          a
            overflow hidden
            border-radius:6px
            after()
            background-color:#e5696b
            text-decoration:none
            width:100%
            display:block
            height:32px
            position:relative
            z-index:0
            &:hover
              span
                color:#e8e5d2
                &:after
                  left:0
            &:before
              content:''
              position:absolute
              z-index:1
              sprite($check_white)
              left:15px
              top:11px
            span
              tn(.5s)
              position:relative
              z-index:1
              top:1px
              border-radius:6px
              margin-right:3px
              float:right
              padding-top:3px
              bb(24px)
              text-align:center
              display:block
              color:#e5696b
              width:142px
              height:28px
              margin-top:1px
              background-color:#e8e5d2
              &:after
                tn(.5s)
                content:''
                position:absolute
                z-index:-1
                left:100%
                top:0
                width:100%
                height:100%
                background-color:#e5696b
