/* Overlay style */
$color=rgba(#363a3e, 1)
.overlay
  position:fixed
  width:100%
  height:100%
  top:0
  left:0
  z-index:1000
  background:$color
  .slider-form
    background:none
.overlay .overlay-close
  width:20px
  height:20px
  position:absolute
  right:-5px
  top:10px
  overflow:hidden
  border:none
  color:transparent
  outline:none
  z-index:100
  span
    dibt()
    sprite($close_popup)
.overlay .inner-popup
  margin:0 auto
  width:282px
  text-align:center
  position:relative
  right:-110px
  top:50%
  max-height:80%
  z-index:5
  transform:translateY(-50%)
.overlay-cornershape
  background:transparent
  visibility:hidden
  -webkit-transition:visibility 0s 0.5s
  transition:visibility 0s 0.5s
.overlay-cornershape.open
  visibility:visible
  -webkit-transition:none
  transition:none
.overlay-cornershape svg
  position:absolute
  top:0
  left:0
.open .popup-bg-img
  opacity:1
.overlay-cornershape .overlay-path
  fill:$color
.overlay-cornershape.close nav,
.overlay-cornershape.close .overlay-close
  transition-delay:.4s
