.price-table
  width:100%
  tr
    &:nth-child(2n)
      td
        background-color:#e8e5d2
        &:first-child
          background-color:#d9d6c6
    &:nth-child(2n+1)
      td
        background-color:#d9d6bf
        &:first-child
          background-color:#cbc9b5
    &:hover
      td
        background-color:#f2f0dd !important
    td
      position:relative
      z-index:0
      padding:5px
      vertical-align:middle
      text-align:center
      tn(.5s)
      .order
        padding-right:20px
        width:208px
        a
          overflow hidden
          border-radius:6px
          after()
          background-color:#e5696b
          text-decoration:none
          width:100%
          display:block
          height:32px
          position:relative
          z-index:0
          &:hover
            span
              color:#e8e5d2
              &:after
                left:0
          &:before
            content:''
            position:absolute
            z-index:1
            sprite($check_white)
            left:15px
            top:11px
          span
            tn(.5s)
            position:relative
            z-index:1
            top:1px
            border-radius:6px
            margin-right:3px
            float:right
            padding-top:3px
            bb(24px)
            text-align:center
            display:block
            color:#e5696b
            width:142px
            height:28px
            margin-top:1px
            background-color:#e8e5d2
            &:after
              tn(.5s)
              content:''
              position:absolute
              z-index:-1
              left:100%
              top:0
              width:100%
              height:100%
              background-color:#e5696b
      .download
        dibt()
        sprite($pdf)
      > span
        color:#51565a
        rm(18px)
        position:relative
        z-index:0
        dibt()
        &:after
          margin-left:2px
          content:''
          dibb()
          sprite($price_rub)
      &:first-child
        padding-right:130px
      &:first-child, &:last-child
        text-align:left
      .wrapper-img
        margin-left:37px
        width:80px
        height:80px
        border-radius:50%
        background-color:#fff
        position:relative
        z-index:0
        overflow hidden
        img
          aa(1)
          max-width 90%
          max-height 90%
      h2
        position:absolute
        z-index:1
        top:50%
        left:134px
        tt(0, -50%)
    th
      text-align:center
      background-color:#363a3e
      &:first-child
        text-align:left
        width:482px
        a
          padding-left:37px
      &:nth-child(2)
        width:122px
      &:nth-child(3)
        width:160px
      &:nth-child(4)
        width:140px
        a
          span
            &:after
              right -19px
              sprite($az_price_no_active)
        &.active
          a
            span
              &:after
                sprite($az_price)
      &:nth-child(5)
        width:120px
        a
          span
            &:after
              sprite($az_price_date_no_active)
        &.active
          a
            span
              &:after
                sprite($az_price_date)
      &:nth-child(6)
        width:105px
        span
          &:after, &:before
            display:none
      a
        display:block
        padding:5px 25px 7px 5px
        text-decoration:none
        &.desk
          span
            &:before
              margin-top:-7px
              transform:scale(1, -1)
        span
          color:#e8e5d2
          rl(16px)
          position:relative
          z-index:0
          &:after, &:before
            content:''
            position:absolute
            z-index:1
            top:50%
            tt(1%, -50%)
          &:after
            sprite($az_no_active)
            right:-18px
            +below(1350px)
              right -24px
          &:before
            tn(.5s)
            sprite($arrow_in_table_no_active)
            right:-10px
            +below(1350px)
              right -16px
      &.active
        a
          span
            color:#a7e53b
            &:after
              sprite($az)
            &:before
              sprite($arrow_in_table)
    td
      color:#51565a