.rent
  > *
    display:table-cell
    vertical-align:middle
  .img-content
    background-color:#fff
    .inner
      width:475px
      padding:102px 35px 38px 35px
    img
      max-width 400px
    h1
      padding-bottom:52px
      color:#51565a
      br(36px)
  .rent-content
    width:100%
    background-color:#f9f8ef
    padding-left:22px
    .inner
      max-width 798px
    p
      color:#51565a
      line-height:1.4
    .more
      text-align:left
      text-decoration:none
      color:#e5696b
      margin-left:28px
      position:relative
      z-index:0
      &:after
        content:''
        position:absolute
        z-index:1
        sprite($more)
        left:-26px
        top:3px
    .wrapper-links
      margin-top:48px
      > div
        &:first-child
          margin-bottom:19px
          a
            overflow hidden
            border-radius:6px
            after()
            background-color:#e5696b
            text-decoration:none
            width:279px
            display:block
            height:32px
            position:relative
            z-index:0
            &:hover
              span
                color:#363a3e
                &:after
                  left:0
            &:before
              content:''
              position:absolute
              z-index:1
              sprite($check2)
              left:15px
              top:11px
            span
              tn(.5s)
              position:relative
              z-index:1
              top:1px
              border-radius:6px
              margin-right:3px
              float:right
              padding-top:2px
              bb(24px)
              text-align:center
              display:block
              color:#e5696b
              width:233px
              height:28px
              margin-top:1px
              background-color:#f9f8ef
              &:after
                tn(.5s)
                content:''
                position:absolute
                z-index:-1
                left:100%
                top:0
                width:100%
                height:100%
                background-color:#e5696b