.write_to_us
  position:fixed
  z-index:10
  bottom:23px
  right:100px
  width:160px
  height:160px
  &:hover
    span
      &:first-of-type
        span
          top:40%
      &:nth-of-type(2)
        background-color:rgba(#bfe977, .9)
  span
    display:block
    &:first-of-type
      tn(.5s)
      border-radius:50%
      background-color:#a7e53b
      aa(2)
      width:136px
      height:136px
      overflow hidden
      span
        tn(.5s)
        border-radius:50%
        background-color:#a2ff00
        position:absolute
        z-index:1
        left:50%
        width:136px
        height:136px
        top:-100%
    &:nth-of-type(2)
      border-radius:50%
      width:200px
      height:200px
      aa(1)
      margin-top:-100px
      margin-left:-100px
      background-color:rgba(#d3f29d, .9)
      animation: cbh-circle-anim 1.5s infinite linear;
    &:nth-child(3)
      aa(4)
      sprite($write_to_us)
      margin-top:8px
@-moz-keyframes cbh-circle-anim{
  0%{
    -moz-transform:rotate(0) scale(.5) skew(1deg);
    opacity:.1;
    -moz-opacity:.1;
    -webkit-opacity:.1;
    -o-opacity:.1 }
  30%{
    -moz-transform:rotate(0) scale(.7) skew(1deg);
    opacity:.5;
    -moz-opacity:.5;
    -webkit-opacity:.5;
    -o-opacity:.5 }
  100%{
    -moz-transform:rotate(0) scale(1) skew(1deg);
    opacity:.6;
    -moz-opacity:.6;
    -webkit-opacity:.6;
    -o-opacity:.1 }
}
@-webkit-keyframes cbh-circle-anim{
  0%{
    -webkit-transform:rotate(0) scale(.5) skew(1deg);
    -webkit-opacity:.1 }
  30%{
    -webkit-transform:rotate(0) scale(.7) skew(1deg);
    -webkit-opacity:.5 }
  100%{
    -webkit-transform:rotate(0) scale(1) skew(1deg);
    -webkit-opacity:.1 }
}
@-o-keyframes cbh-circle-anim{
  0%{
    -o-transform:rotate(0) kscale(.5) skew(1deg);
    -o-opacity:.1 }
  30%{
    -o-transform:rotate(0) scale(.7) skew(1deg);
    -o-opacity:.5 }
  100%{
    -o-transform:rotate(0) scale(1) skew(1deg);
    -o-opacity:.1 }
}
@keyframes cbh-circle-anim{
  0%{
    transform:rotate(0) scale(.5) skew(1deg);
    opacity:.1 }
  30%{
    transform:rotate(0) scale(.7) skew(1deg);
    opacity:.5 }
  100%{
    transform:rotate(0) scale(1) skew(1deg);
    opacity:.1 }
}
@-moz-keyframes cbh-circle-fill-anim{
  0%, 100%{
    -moz-transform:rotate(0) scale(.7) skew(1deg);
    opacity:.2 }
  50%{
    -moz-transform:rotate(0) -moz-scale(1) skew(1deg);
    opacity:.2 }
}
@-webkit-keyframes cbh-circle-fill-anim{
  0%, 100%{
    -webkit-transform:rotate(0) scale(.7) skew(1deg);
    opacity:.2 }
  50%{
    -webkit-transform:rotate(0) scale(1) skew(1deg);
    opacity:.2 }
}
@-o-keyframes cbh-circle-fill-anim{
  0%, 100%{
    -o-transform:rotate(0) scale(.7) skew(1deg);
    opacity:.2 }
  50%{
    -o-transform:rotate(0) scale(1) skew(1deg);
    opacity:.2 }
}
@keyframes cbh-circle-fill-anim{
  0%, 100%{
    transform:rotate(0) scale(.7) skew(1deg);
    opacity:.2 }
  50%{
    transform:rotate(0) scale(1) skew(1deg);
    opacity:.2 }
}
@keyframes cbh-circle-img-anim{
  0%, 100%, 50%{
    transform:rotate(0) scale(1) skew(1deg) }
  10%, 30%{
    transform:rotate(-25deg) scale(1) skew(1deg) }
  20%, 40%{
    transform:rotate(25deg) scale(1) skew(1deg) }
}
@-moz-keyframes cbh-circle-img-anim{
  0%{
    transform:rotate(0) scale(1) skew(1deg) }
  10%, 30%{
    -moz-transform:rotate(-25deg) scale(1) skew(1deg) }
  20%, 40%{
    -moz-transform:rotate(25deg) scale(1) skew(1deg) }
  100%, 50%{
    -moz-transform:rotate(0) scale(1) skew(1deg) }
}
@-webkit-keyframes cbh-circle-img-anim{
  0%, 100%, 50%{
    -webkit-transform:rotate(0) scale(1) skew(1deg) }
  10%, 30%{
    -webkit-transform:rotate(-25deg) scale(1) skew(1deg) }
  20%, 40%{
    -webkit-transform:rotate(25deg) scale(1) skew(1deg) }
}
@-o-keyframes cbh-circle-img-anim{
  0%, 100%, 50%{
    -o-transform:rotate(0) scale(1) skew(1deg) }
  10%, 30%{
    -o-transform:rotate(-25deg) scale(1) skew(1deg) }
  20%, 40%{
    -o-transform:rotate(25deg) scale(1) skew(1deg) }
}