mb-datepicker
  .form-control
    width 135px !important
.mb-datepicker
  width 400px
  position absolute
  margin-top 10px
  background-color #f5f5f5
  z-index 3000
  -webkit-box-shadow 1px 1px 7px 0 rgba(37, 53, 50, 0.37)
  -moz-box-shadow 1px 1px 7px 0 rgba(37, 53, 50, 0.37)
  box-shadow 1px 1px 7px 0 rgba(37, 53, 50, 0.37)
  table
    width 400px
    table-layout fixed
    thead
      tr
        td
          padding-bottom 10px
    tbody
      tr
        td
          text-align center
          padding 10px
          cursor pointer
          color #626262
          &.day-head
            background-color #f5f5f5
            cursor default
            border-bottom 1px solid #ececec
            font-weight 600
            &:hover
              background-color #f5f5f5
              color #626262
        &.days
          .day-item
            &:hover
              background-color #15a5db
              color #f5f5f5 !important
.header-item
  padding-left 20px
  padding-right 20px
.header-month
  text-align center
  width 70%
  display inline-block
.header-right
  text-align right
caption
  padding 0 !important
.header-year-wrapper
  padding-top 10px
  padding-bottom 10px
  color white
  font-family \"Open Sans\", sans-serif
  font-size 1.2em
  background-color #15a5db
.header-nav-wrapper
  padding-top 5px
  padding-bottom 5px
  color #626262
  font-family \"Open Sans\", sans-serif
  font-size 1.2em
  background-color #e8e8e8
.header-year
  padding-top 1px
  padding-bottom 0 !important
  text-align center
  width 80%
  display inline-block
.today
  background #61c7ec !important
  color white !important
.other
.weekend
  color #a3a3a3 !important
.day
  color #60c1e6 !important
.disabled
  background #ececec !important
  color #a3a3a3 !important
  &:hover
    background #ececec !important
.noselect
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  user-select none
.mb-input-field
  border-radius 0
  border-bottom 1px solid red