<!DOCTYPE html>
<!--html(style="opacity:0")-->
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1200">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="Description">
    <meta name="keywords" content="Keywords">
    <title>Феникс</title>
    <link rel="icon" type="image/png" href="./images/favicon.png">
    <link rel="stylesheet" href="./styles/application.css">
  </head>
  <body pointer-events-scroll ng-controller="PopupCtrl">
    <aside class="aside">
      <div class="content-aside">
        <header class="header"><a href="./" class="wrapper-logo"><img src="./images/logo.png" width="107" height="53"></a></header>
        <div class="choise-town"></div>
        <nav class="nav">
          <ul>
            <li><a href="./documentation.html">Документация</a></li>
            <li><a href="./checkout.html" class="active">Оформление заказа</a></li>
            <li><a href="./rent.html">Аренда бензовозов</a></li>
            <li><a href="./price.html">Цены</a></li>
            <li><a href="./contacts.html">Контакты</a></li>
          </ul>
        </nav>
      </div>
      <dl class="info">
        <dd><a href="tel:+78007759338"><span>8-800</span>-775-93-38</a></dd>
        <dt><a>Заказать звонок</a></dt>
        <dd><a href="mailto:mail@tdfenix.com?subject=Заказать звонок">mail@tdfenix.com</a></dd>
      </dl>
    </aside>
    <div class="wrapper dNtoLoad">11sdfdsf
      <main class="main">
        <section class="map">
          <div class="info">
            <div class="calc-block">
              <h1 class="title">Рассчитать заказ</h1>
            </div>
          </div>
        </section>
        <section class="status">
          <div class="inner-status">
            <h1 class="title-default">Статус доставки груза</h1>
          </div>
        </section>
        <section class="why-we">
          <h1 class="title-default">Почему мы?</h1>
          <ul>
            <li>
              <h2>Оперативность</h2>
              <p>Мы доставим нужные вам продукты, затратив минимальное количество времени.</p>
              <p>При этом вы самостоятельно задаете желаемый срок доставки, а мы формируем и отправляем машину сразу после поступления заказа!</p>
            </li>
            <li>
              <h2>Качество</h2>
              <p>Поставляем нефтепродукты высшего качества только от проверенных и надежных поставщиков.</p>
              <p>Все виды топлива соответствуют экологическим нормам ГОСТ, прошли строгий лабораторный контроль сохранности качества</p>
            </li>
            <li>
              <h2>Низкая стоимость</h2>
              <p>Наши цены на доставку топлива значительно ниже рыночных ввиду собственного парка бензовозов..</p>
              <p>Заказывая у нас, вы экономите на транспортировке и не переплачиваете лишние средства транспортным компаниям.</p>
            </li>
            <li>
              <h2>Работа без предоплаты</h2>
              <p>Вы платите нам исключительно по факту совершения доставки.</p>
              <p>Так мы предоставляем особого рода гарантию сохранности ваших средств в чрезвычайных ситуациях и берем все обязательства на себя.</p>
            </li>
            <li>
              <h2>Доставка по всей России</h2>
              <p>Осуществляем доставку нефтепродуктов по территории РФ.</p>
              <p>При этом мы подбираем кратчайший маршрут следования груза так, чтобы издержки на транспортировку были минимальными.</p>
            </li>
            <li>
              <h2>Заслуженная репутация</h2>
              <p>Сотрудничаем с крупнейшими представителями автотранспорта.</p>
              <p>За время работы также накоплена обширная клиентская база, сотрудничество с которой ведется на постоянной основе.</p>
            </li>
          </ul>
        </section>
        <section class="catalog">
          <h1 class="title-default">Каталог товаров</h1>
          <ul class="list-products">
            <li>
              <div class="row">
                <div class="info">
                  <ul>
                    <li>
                      <h2>Бензин автомобильный неэтилированный</h2>
                    </li>
                    <li><span>maрка</span>Регуляр-92,</li>
                    <li><span>класс топлива</span>4</li>
                    <li><span>вид</span></li>
                    <li>(АИ-92-4)</li>
                  </ul>
                </div>
                <div class="description">
                  <p>Бензин 92 является одной из самых популярных марок топлива, и объемы его поставок всегда отличались внушительностью. Наша компания доставляет или предоставляет для перевозки специально оборудованный транспорт с обученным персоналом. Используя наши услуги, вы можете заказать бензин 92 оптом и получить самую выгодную цену доставки. Мы работаем по всему Поволжью...</p>
                </div>
                <div class="order"><a href=""><span>Заказать</span></a></div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="info">
                  <ul>
                    <li>
                      <h2>Топливо дизельное Евро</h2>
                    </li>
                    <li><span>maрка</span></li>
                    <li><span>класс топлива</span>2</li>
                    <li><span>вид</span>III</li>
                    <li>(Дизельное топливо)</li>
                  </ul>
                </div>
                <div class="description">
                  <p>Один из продуктов переработки нефти – дизельное топливо. Этот вид горючего востребован не меньше чем бензин: помимо того, что он используется для передвижения грузового транспорта, на нем ездят и легковые автомобили. Также поставки дизельного топлива оптом широко используются сельхозпроизводителями, так как в этой отрасли на него высокий спрос, который носит...</p>
                </div>
                <div class="order"><a href=""><span>Заказать</span></a></div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="info">
                  <ul>
                    <li>
                      <h2>Керосин технический КТ-1</h2>
                    </li>
                    <li><span>maрка</span></li>
                    <li><span>класс топлива</span></li>
                    <li><span>вид</span></li>
                    <li>(Керосин)</li>
                  </ul>
                </div>
                <div class="description">
                  <p>Наиболее часто керосин используют как топливо для ракетных и авиационных двигателей, горючее для обжига фарфора и фаянса, растворитель, сырье для горения некоторых типов ламп. Такое разнообразное применение является причиной высокого спроса на эту смесь углеводородов. Одно из основных направлений работы ТД Феникс - доставка...</p>
                </div>
                <div class="order"><a href=""><span>Заказать</span></a></div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="info">
                  <ul>
                    <li>
                      <h2>Бензин автомобильный неэтилированный</h2>
                    </li>
                    <li><span>maрка</span>Премиум Евро-95 </li>
                    <li><span>класс топлива</span>4</li>
                    <li><span>вид</span>II</li>
                    <li>(АИ-95-4)</li>
                  </ul>
                </div>
                <div class="description">
                  <p>Наша компания – один из крупнейших поставщиков продуктов нефтепереработки в Поволжье. Мы работаем с оптовыми клиентами и предоставляем им возможность купить бензин 95 по самым выгодным ценам и беремся доставить его до указанного клиентом места. Данный сорт нефтепродуктов пользуется высоким спросом во всех регионах, однако,...</p>
                </div>
                <div class="order"><a href=""><span>Заказать</span></a></div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="info">
                  <ul>
                    <li>
                      <h2>Топливо маловязкое судовое</h2>
                    </li>
                    <li><span>maрка</span></li>
                    <li><span>класс топлива</span></li>
                    <li><span>вид</span></li>
                    <li>(СМТ)</li>
                  </ul>
                </div>
                <div class="description">
                  <p>Судовое топливо – это один из видов нефтепродуктов, отличающийся относительно высоким содержанием серы и легких углеводородов. Сфера использования - газотурбинные установки, а также судовые дизельные двигатели, работающие на средних и высоких оборотах. Наибольшим спросом пользуется СМТ Танеко , а также несколько других марок горючего.</p>
                </div>
                <div class="order"><a href=""><span>Заказать</span></a></div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="info">
                  <ul>
                    <li>
                      <h2>Печное топливо</h2>
                    </li>
                    <li><span>maрка</span></li>
                    <li><span>класс топлива</span></li>
                    <li><span>вид</span></li>
                    <li>(Печное топливо)</li>
                  </ul>
                </div>
                <div class="description">
                  <p>Печное топливо - один из продуктов нефтепереработки. Как следует из названия, его используют для сжигания в печах и отопительных котлах. Подразделяется на печное темное топливо и печное топливо светлое, в зависимости от того, какое сырье использовано для производства. На печное топливо цена является одной из самых низких по сравнению с...</p>
                </div>
                <div class="order"><a href=""><span>Заказать</span></a></div>
              </div>
            </li>
          </ul>
        </section>
        <section class="collaborate">
          <h1 class="title-default">С нами сотрудничают</h1>
          <ul>
            <li>Автозаправки</li>
            <li>Железнодорожные службы</li>
            <li>Авиаперевозки</li>
            <li>Судоходство</li>
            <li>Транспортные службы</li>
            <li>Частные дома</li>
          </ul>
          <div class="wrapper-link"><a href=""><span>Стань нашим партнером</span></a></div>
        </section>
        <section class="petroleum-products">
          <h1 class="title-default">Продажа нефтепродуктов</h1>
          <p>Сегодня продажа нефтепродуктов - это отрасль торговли, важность которой невозможно переоценить. К этой категории относятся различные вещества, получаемые путем перегонки сырой нефти, разные технологии их получения дают возможность производить принципиально разную по свойствам продукцию. Дизельное топливо, разные марки бензина, мазут, судовое и печное топливо – все эти продукты являются неотъемлемой частью развития и функционирования экономики.</p>
          <p>Основное направление деятельности компании ТД Феникс - поставка нефтепродуктов и продажа нефтепродуктов оптом по всей территории Поволжья. Оперативность и точность, адекватный уровень цен на услуги и отличное техническое оснащение – все это особенности работы наше компании. Наш автопарк насчитывает десятки единиц спецтехники, вся она постоянно проверяется на предмет соответствия стандартам. Торговля нефтепродуктами - дело хлопотное и технически сложное, наша деятельность подлежит контролю со стороны многих организаций, но наш многолетний опыт позволяет осуществлять ее без нарушений и согласно самым жестким требованиям и стандартам.</p>
          <p>Умелая организация труда и рациональное использование техники и рабочего ресурса позволяет нам наиболее выгодно для клиента осуществлять такой вид деятельности, как продажа нефтепродуктов, и Москва не может составить на конкуренции в этом плане.</p>
          <p>Вам требуются нефтепродукты оптом? Или вам нужно доставить из Москвы нефтепродукты на свое производство? Обращайтесь к нам, мы решим задачу любой сложности!</p>
        </section>
      </main>
    </div>
    <footer class="footer">
      <div class="footer-map">
        <div class="to-find-us">
          <h1 class="title">Как нас найти</h1>
          <h2>ООО «Феникс»</h2>
          <ul>
            <li>8 (800) 775-93-38</li>
            <li>mail@tdfenix.com</li>
            <li>428032, г Чебоксары,пл. Речников, д 3,помещение №2, офис 11</li>
          </ul>
        </div>
      </div>
      <div class="footer-links">
        <div class="block">
          <h3>Главное меню</h3>
          <ul>
            <li><a href="./">Документация</a></li>
            <li><a href="./">Оформление заказа</a></li>
            <li><a href="./">Аренда бензовозов</a></li>
            <li><a href="./">Цены</a></li>
            <li><a href="./">Контакты</a></li>
          </ul>
        </div>
        <div class="block">
          <h3>Навигация</h3>
          <ul>
            <li><a href="./">Виды бензина</a></li>
            <li><a href="./">АИ-92-4</a></li>
            <li><a href="./">АИ-95-4</a></li>
            <li><a href="./">Виды дизеля</a></li>
            <li><a href="./">Дизельное топливо</a></li>
            <li><a href="./">СМТ</a></li>
            <li><a href="./">Печное топливо</a></li>
            <li><a href="./">Виды керосина</a></li>
            <li><a href="./">Керосин</a></li>
          </ul>
        </div>
        <div class="block">
          <h3>Производители</h3>
          <!-- В случае если у ul более 9 элементов, то ul добаляется класс .double-width-->
          <ul class="double-width">
            <li><a href="./">Антипинский НПЗ</a></li>
            <li><a href="./">Астраханский ГПЗ</a></li>
            <li><a href="./">Газпром нефтехим Салават</a></li>
            <li><a href="./">Газпромнефть-МНПЗ</a></li>
            <li><a href="./">КРУ Татнефть АЗС-Центр</a></li>
            <li><a href="./">Куйбышевский НПЗ</a></li>
            <li><a href="./">НПЗ ТАНЕКО</a></li>
            <li><a href="./">Новойл</a></li>
            <li><a href="./">НПК</a></li>
            <li><a href="./">СЗСК Газпром переработка</a></li>
            <li><a href="./">Славнефть</a></li>
            <li><a href="./">Сызранский НПЗ</a></li>
            <li><a href="./">ТАИФ</a></li>
            <li><a href="./">Уфанефтехим</a></li>
            <li><a href="./">Уфимский НПЗ</a></li>
            <li><a href="./">ЧН Татнефть АЗС-Центр</a></li>
          </ul>
        </div>
        <div class="block also-questions">
          <h3>Остались вопросы?</h3>
          <div><a>Задайте их менеджеру</a></div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="copyright"><span>©</span>2015 «fenix»</div><a href="http://tutmee.ru" class="firm-logo">
            <div><span>Создание дизайна</span><span>и разработка сайтов</span><span>LTD Tutmee.ru</span></div>
            <div><img src="./images/firm-logo.png" width="198" height="51"></div></a>
        </div>
      </div>
    </footer>
  </body>
</html>
<!--#container-preloader.svg-container-block(preloader='[".wrapper"]' animate-preloader)-->
<!--    .progress-->
<!--        .text#persent-loaded 0-->
<!--        progress-circle-->
<!--    .content-->
<!--        #boxContainer.svg-container-->
<!--            svg#boxLoader(width='70px', height='70px', viewbox='0 0 35 35', preserveaspectratio='none')-->
<!--                rect(x='0', fill='#79bdbe', width='35', height='35')-->
<!--            svg#base(width='210px', height='210px', viewbox='0 0 105 105', preserveaspectratio='none')-->
<!--                line(stroke-width='1.5', fill='none', stroke='#dedede', stroke-miterlimit='10', x1='0', y1='52.5', x2='105', y2='52.5')-->
<!--button.up.fa.fa-angle-double-up(move-up)-->
<!--// popup-->
<!--popup-svg(name="enter").hide-block-->
<!--    section.authentification-block-->
<!--        img.logo(src="./images/popup-logo.jpg")-->
<!--        .flipper(flipper-x="click")-->
<!--            .back-->
<!--                form#auth-reg.form-validate.reg(name="formValidate" method="POST" is-valide-border="{{formValidate.$invalid}}" novalidate ng-controller="FormAuthCtrl"-->
<!--                ng-init="action='http://sk2.tutmee.ru/'")-->
<!--                    h1.title-form Регистрация-->
<!--                    div-->
<!--                        label(for="email") E-mail-->
<!--                        input#email(type="email" name="email" ng-model='dataForm.data.email' required)-->
<!--                    div-->
<!--                        label Пароль-->
<!--                        .show-psw(ng-click="determineType(isPwdShow)")-->
<!--                        input(type="{{type}}" name="pwd" ng-model="dataForm.data.pwd" required)-->
<!--                    div-->
<!--                        label Повторить пароль-->
<!--                        .show-psw(ng-click="determineType(isPwdShow)")-->
<!--                        input(type="{{type}}" name="re_pwd" ng-model="dataForm.data.re_pwd" match="dataForm.data.pwd" required)-->
<!--                    input(type="hidden" name="option" value="com_users")-->
<!--                    input(type="hidden" name="task" value="user.login")-->
<!--                    input(type="hidden" name="0e23c40c57a567381354bfedc95271f4" value="1")-->
<!--                    div.wrapper-send-->
<!--                        button.send(ng-click='send(dataForm,formValidate,action,"auth-reg")') Зарегистрироваться-->
<!--                    div.wrapper-link-->
<!--                        a(href="" ng-click="switch('enter')") Вернуться к форме входа-->
<!--            .front-->
<!--                form.form-validate#auth-enter(name="formValidate" method="POST" is-valide-border="{{formValidate.$invalid}}" novalidate-->
<!--                ng-controller="FormAuthCtrl"-->
<!--                ng-init="action='http://sk2.tutmee.ru/'")-->
<!--                    h1.title-form Войти-->
<!--                    div-->
<!--                        label(for="email") E-mail-->
<!--                        input#email(type="email" name="email" ng-model='dataForm.data.email' required)-->
<!--                    div-->
<!--                        label(for="pwd") Пароль-->
<!--                        .show-psw(ng-click="determineType(isPwdShow)")-->
<!--                        input(type="{{type}}" name="pwd" ng-model="dataForm.data.pwd" required)-->
<!--                    input(type="hidden" name="option" value="com_users")-->
<!--                    input(type="hidden" name="task" value="user.login")-->
<!--                    input(type="hidden" name="0e23c40c57a567381354bfedc95271f4" value="1")-->
<!--                    div.wrapper-send-->
<!--                        button.send(ng-click='send(dataForm,formValidate,action,"auth-enter")') Авторизоваться-->
<!--                    div.wrapper-link-->
<!--                        p У меня еще нет аккаунта-->
<!--                        a(href="" ng-click="switch('reg')") Зарегистрироваться-->
<!--// popup-->
<!--popup-svg(name="recall").hide-block-->
<!--    section.vote-block.recall-popup-block-->
<!--        h1.title-form Перезвоните мне-->
<!--        form.form-validate(name="formValidate" is-valide-border="{{formValidate.$invalid}}" novalidate ng-controller="FormCtrl" ng-init="action='./controller.php'")-->
<!--            div-->
<!--                label(for="name") Имя-->
<!--                input#name(type="text" name="name" ng-model='dataForm.data.name' autocomplete="off" required)-->
<!--            div-->
<!--                label(for="phone") Телефон-->
<!--                input#phone(ui-mask="+7(999)-999-99-99" type="text" name="phone" ng-model='dataForm.data.phone' autocomplete="off" required)-->
<!--            div-->
<!--                label(for="msg") Сообщение-->
<!--                textarea(name="msg" ng-model='dataForm.data.msg' autocomplete="off" required)-->
<!--            input(type="hidden" name="task" ng-init='dataForm.hidden.task="contacts"' ng-model='dataForm.hidden.task')-->
<!--            div.wrapper-send-->
<!--                button.send(ng-click='send(dataForm,formValidate,"",action)') Отправить-->
<!--include ./includes/thanks.jade-->
<!--script(src='./scripts/vendors/loadCSS.js')-->
<!--script.-->
<!--    var stylesheet=loadCSS("./styles/application.css");-->
<!--    onloadCSS(stylesheet,function(){-->
<!--    });-->
<!--script(src="scripts/bundle.js" async)-->
<script src="http://localhost:8080/webpack-dev-server.js"></script>
<script src="http://localhost:8080/bundle.js"></script>