doctype html
//html(style="opacity:0")
html
    head
        include ./includes/head.jade
        include ./includes/mixins.jade
    body(pointer-events-scroll ng-controller="PopupCtrl")
        include ./includes/aside.jade
        .wrapper.dNtoLoad
            main.main
                block content
        include ./includes/footer.jade
        button.write_to_us.animated(ng-class="{'rubberBand':animated == true}" ng-mouseenter="enterEffect()" ng-mouseleave="leaveEffect()")
            span
                span
            span
            span
        button.up(move-up)
        // popup
        popup-svg(name="ask_questions").hide-block
            section.vote-block.recall-popup-block
                h1.title-form Напишите нам
                form.form-validate(name="formValidate" ng-init="action='./controller.php'" novalidate ng-if="isCalcForm")
                    div
                        input#from(type="text" name="from" ng-model='dataForm.data.from' autocomplete="off" required)
                        label(for="from") Откуда
                    div
                        input#to(type="text" name="to" ng-model='dataForm.data.to' autocomplete="off" required)
                        label(for="to") Куда
                    div
                        input#type_of_product(type="text" name="type_of_product" ng-model='dataForm.data.type_of_product' autocomplete="off" required)
                        label(for="type_of_product") Вид продукта
                    .wrapper-send
                    div
                        input#quantity_tons(type="text" name="quantity_tons" ng-model='dataForm.data.quantity_tons' autocomplete="off" required only-int-numbers)
                        label(for="quantity_tons") Количество тонн
                    .wrapper-send
                        button.send(ng-click='send(dataForm,formValidate,action)')
                            span расчитать
                    input(type="hidden" name="task" ng-init='dataForm.hidden.task="calculate_order"' ng-model='dataForm.hidden.task')
//#container-preloader.svg-container-block(preloader='[".wrapper"]' animate-preloader)
//    .progress
//        .text#persent-loaded 0
//        progress-circle
//    .content
//        #boxContainer.svg-container
//            svg#boxLoader(width='70px', height='70px', viewbox='0 0 35 35', preserveaspectratio='none')
//                rect(x='0', fill='#79bdbe', width='35', height='35')
//            svg#base(width='210px', height='210px', viewbox='0 0 105 105', preserveaspectratio='none')
//                line(stroke-width='1.5', fill='none', stroke='#dedede', stroke-miterlimit='10', x1='0', y1='52.5', x2='105', y2='52.5')
//// popup
//popup-svg(name="enter").hide-block
//    section.authentification-block
//        img.logo(src="./images/popup-logo.jpg")
//        .flipper(flipper-x="click")
//            .back
//                form#auth-reg.form-validate.reg(name="formValidate" method="POST" is-valide-border="{{formValidate.$invalid}}" novalidate ng-controller="FormAuthCtrl"
//                ng-init="action='http://sk2.tutmee.ru/'")
//                    h1.title-form Регистрация
//                    div
//                        label(for="email") E-mail
//                        input#email(type="email" name="email" ng-model='dataForm.data.email' required)
//                    div
//                        label Пароль
//                        .show-psw(ng-click="determineType(isPwdShow)")
//                        input(type="{{type}}" name="pwd" ng-model="dataForm.data.pwd" required)
//                    div
//                        label Повторить пароль
//                        .show-psw(ng-click="determineType(isPwdShow)")
//                        input(type="{{type}}" name="re_pwd" ng-model="dataForm.data.re_pwd" match="dataForm.data.pwd" required)
//                    input(type="hidden" name="option" value="com_users")
//                    input(type="hidden" name="task" value="user.login")
//                    input(type="hidden" name="0e23c40c57a567381354bfedc95271f4" value="1")
//                    div.wrapper-send
//                        button.send(ng-click='send(dataForm,formValidate,action,"auth-reg")') Зарегистрироваться
//                    div.wrapper-link
//                        a(href="" ng-click="switch('enter')") Вернуться к форме входа
//            .front
//                form.form-validate#auth-enter(name="formValidate" method="POST" is-valide-border="{{formValidate.$invalid}}" novalidate
//                ng-controller="FormAuthCtrl"
//                ng-init="action='http://sk2.tutmee.ru/'")
//                    h1.title-form Войти
//                    div
//                        label(for="email") E-mail
//                        input#email(type="email" name="email" ng-model='dataForm.data.email' required)
//                    div
//                        label(for="pwd") Пароль
//                        .show-psw(ng-click="determineType(isPwdShow)")
//                        input(type="{{type}}" name="pwd" ng-model="dataForm.data.pwd" required)
//                    input(type="hidden" name="option" value="com_users")
//                    input(type="hidden" name="task" value="user.login")
//                    input(type="hidden" name="0e23c40c57a567381354bfedc95271f4" value="1")
//                    div.wrapper-send
//                        button.send(ng-click='send(dataForm,formValidate,action,"auth-enter")') Авторизоваться
//                    div.wrapper-link
//                        p У меня еще нет аккаунта
//                        a(href="" ng-click="switch('reg')") Зарегистрироваться
//// popup
//include ./includes/thanks.jade
//script(src='./scripts/vendors/loadCSS.js')
//script.
//    var stylesheet=loadCSS("./styles/application.css");
//    onloadCSS(stylesheet,function(){
//    });
//script(src="scripts/bundle.js" async)
script(src="./scripts/vendors/modernizr/modernizr.js")
script(src="./scripts/vendors/preloadjs-0.6.1.min.js")
script(src="./scripts/vendors/snap.svg.js")
script(src="http://localhost:8080/webpack-dev-server.js")
script(src="http://localhost:8080/bundle.js")
