doctype html
html(style="opacity:0")
    head
        include ./includes/head.jade
        include ./includes/mixins.jade
    body(pointer-events-scroll ng-controller="PopupCtrl")
        include ./includes/aside.jade
        .wrapper.dNtoLoad.animated.bounceInUp
            main.main
                block content
        include ./includes/footer.jade
        button.write_to_us.animated(ng-class="{'rubberBand':animated == true}" ng-mouseenter="enterEffect()" ng-mouseleave="leaveEffect()" ng-click="openPopup('request',{text_msg:'Напишите нам'})")
            span
                span
            span
            span
        button.up(move-up)
        include ./includes/popups.jade
        include ./includes/thanks.jade
        include ./includes/preloader.jade
script(src="./scripts/vendors/preloadjs-0.6.1.min.js" defer)
script(src="./scripts/vendors/snap.svg.js" defer)
script(src="./scripts/bundle.js" defer)
//script(src="http://localhost:8080/webpack-dev-server.js" defer)
//script(src="http://localhost:8080/bundle.js" defer)