.content-block
  h3
    margin-top:70px
    margin-bottom:7px
    text-align:center
    lb(30px)
    text-transform:uppercase
    color:#303030
.content-columns
  > div
    padding:53px 38px
    display:table-cell
    width:50%
    &:last-child
      background-color:#d9d6bf
    h1
      color:#51565a
      rm(24px)
      text-transform:uppercase
      margin-bottom:24px
    h2
      color:#51565a
      rb(18px)

    p
      color:#51565a
      rl(16px,1.5)
    ul
      li
        margin-top:12px
        color:#51565a
        rl(16px)
        strong
          dibb()
          margin-left:7px
