html, body, .wrapper
  height:100%
body > .wrapper
  height:auto
  min-height:100%
  background-color:#fff
  padding-bottom:976px
  padding-left:220px
  width:100%
  +below(1540px)
    padding-bottom:1064px
body
  background-color:#fff
.footer
  padding-left:220px
  margin-top:-976px
  +below(1540px)
    margin-top:-1064px
.content-block
  after()
  width:1000px
  padding:0 33px
.container
  width:1000px
  padding:0 33px
.title-default
  color:#51565a
  br(36px)
@media screen and (max-width:1100px)
  html, body
    overflow-x:hidden
    width:100%
  .hide
    display:none