//- index.jade
extends ../layout.jade
block content
    section.content-columns
        div
            h1 АИ-92-4
            p Бензин 92 является одной из самых популярных марок топлива, и объемы его поставок всегда отличались внушительностью. Наша компания доставляет или предоставляет для перевозки специально оборудованный транспорт с обученным персоналом. Используя наши услуги, вы можете заказать бензин 92 оптом и получить самую выгодную цену доставки. Мы работаем по всему Поволжью и знаем все особенности перевозок по этому региону. Наша компания работает с партиями любого объема, предлагая скидки при особо крупных объемах. Если сравнить цифры нашего прейскуранта с теми, что предлагает на 92 бензин по цене Москва, выгода очевидна. Еще одним преимуществом нашей работы является высокий уровень технического оснащения. Вся спецтехника, используемая для транспортировки топлива постоянно проверяется на исправность, персонал проходит профильное обучение , а также инструктажи по ТБ. Хотите начать прибыльное сотрудничество с нашей компанией? Звоните и выясняйте все подробности, актуальные для вашей поставки. Мы сотрудничаем как с физическими, так и с юридическими лицами, оформляем весь необходимый пакет документов, осуществляя все действия с максимальной оперативностью.
        div
            h2 Бензин автомобильный неэтилированный
            ul
                li марка
                    strong Регуляр-9
                li класс топлива
                    strong 4
                li плотность
                    strong 0.75
    section.catalog.navigation-list
        ul.list-products
            each product in navigation_list
                li
                    .row
                        div.info
                            .wrapper-img
                                img(src="#{product.src}")
                            ul
                                li
                                    h2 #{product.title}
                                li #{product.description}
                        div.description
                            ul
                                li
                                    a(download href="#{product.certificate}") Скачать сертификат
                                li
                                    a Узнать цену
                        div.order
                            a(href="")
                                span Заказать