/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$c1_name = 'c1';
$c1_x = 0px;
$c1_y = 0px;
$c1_offset_x = 0px;
$c1_offset_y = 0px;
$c1_width = 100px;
$c1_height = 119px;
$c1_total_width = 412px;
$c1_total_height = 404px;
$c1_image = '../../images/sprite.png';
$c1 = 0px 0px 0px 0px 100px 119px 412px 404px '../../images/sprite.png' 'c1';
$c2_name = 'c2';
$c2_x = 208px;
$c2_y = 123px;
$c2_offset_x = -208px;
$c2_offset_y = -123px;
$c2_width = 100px;
$c2_height = 119px;
$c2_total_width = 412px;
$c2_total_height = 404px;
$c2_image = '../../images/sprite.png';
$c2 = 208px 123px -208px -123px 100px 119px 412px 404px '../../images/sprite.png' 'c2';
$c3_name = 'c3';
$c3_x = 104px;
$c3_y = 0px;
$c3_offset_x = -104px;
$c3_offset_y = 0px;
$c3_width = 100px;
$c3_height = 119px;
$c3_total_width = 412px;
$c3_total_height = 404px;
$c3_image = '../../images/sprite.png';
$c3 = 104px 0px -104px 0px 100px 119px 412px 404px '../../images/sprite.png' 'c3';
$c4_name = 'c4';
$c4_x = 208px;
$c4_y = 0px;
$c4_offset_x = -208px;
$c4_offset_y = 0px;
$c4_width = 100px;
$c4_height = 119px;
$c4_total_width = 412px;
$c4_total_height = 404px;
$c4_image = '../../images/sprite.png';
$c4 = 208px 0px -208px 0px 100px 119px 412px 404px '../../images/sprite.png' 'c4';
$c5_name = 'c5';
$c5_x = 0px;
$c5_y = 123px;
$c5_offset_x = 0px;
$c5_offset_y = -123px;
$c5_width = 100px;
$c5_height = 119px;
$c5_total_width = 412px;
$c5_total_height = 404px;
$c5_image = '../../images/sprite.png';
$c5 = 0px 123px 0px -123px 100px 119px 412px 404px '../../images/sprite.png' 'c5';
$c6_name = 'c6';
$c6_x = 104px;
$c6_y = 123px;
$c6_offset_x = -104px;
$c6_offset_y = -123px;
$c6_width = 100px;
$c6_height = 119px;
$c6_total_width = 412px;
$c6_total_height = 404px;
$c6_image = '../../images/sprite.png';
$c6 = 104px 123px -104px -123px 100px 119px 412px 404px '../../images/sprite.png' 'c6';
$calc_name = 'calc';
$calc_x = 207px;
$calc_y = 373px;
$calc_offset_x = -207px;
$calc_offset_y = -373px;
$calc_width = 16px;
$calc_height = 17px;
$calc_total_width = 412px;
$calc_total_height = 404px;
$calc_image = '../../images/sprite.png';
$calc = 207px 373px -207px -373px 16px 17px 412px 404px '../../images/sprite.png' 'calc';
$check_name = 'check';
$check_x = 257px;
$check_y = 350px;
$check_offset_x = -257px;
$check_offset_y = -350px;
$check_width = 16px;
$check_height = 11px;
$check_total_width = 412px;
$check_total_height = 404px;
$check_image = '../../images/sprite.png';
$check = 257px 350px -257px -350px 16px 11px 412px 404px '../../images/sprite.png' 'check';
$chevrow_right_name = 'chevrow-right';
$chevrow_right_x = 347px;
$chevrow_right_y = 208px;
$chevrow_right_offset_x = -347px;
$chevrow_right_offset_y = -208px;
$chevrow_right_width = 30px;
$chevrow_right_height = 30px;
$chevrow_right_total_width = 412px;
$chevrow_right_total_height = 404px;
$chevrow_right_image = '../../images/sprite.png';
$chevrow_right = 347px 208px -347px -208px 30px 30px 412px 404px '../../images/sprite.png' 'chevrow-right';
$close_calc_name = 'close-calc';
$close_calc_x = 258px;
$close_calc_y = 373px;
$close_calc_offset_x = -258px;
$close_calc_offset_y = -373px;
$close_calc_width = 9px;
$close_calc_height = 9px;
$close_calc_total_width = 412px;
$close_calc_total_height = 404px;
$close_calc_image = '../../images/sprite.png';
$close_calc = 258px 373px -258px -373px 9px 9px 412px 404px '../../images/sprite.png' 'close-calc';
$close_popup_name = 'close-popup';
$close_popup_x = 245px;
$close_popup_y = 373px;
$close_popup_offset_x = -245px;
$close_popup_offset_y = -373px;
$close_popup_width = 9px;
$close_popup_height = 9px;
$close_popup_total_width = 412px;
$close_popup_total_height = 404px;
$close_popup_image = '../../images/sprite.png';
$close_popup = 245px 373px -245px -373px 9px 9px 412px 404px '../../images/sprite.png' 'close-popup';
$email_name = 'email';
$email_x = 190px;
$email_y = 350px;
$email_offset_x = -190px;
$email_offset_y = -350px;
$email_width = 20px;
$email_height = 15px;
$email_total_width = 412px;
$email_total_height = 404px;
$email_image = '../../images/sprite.png';
$email = 190px 350px -190px -350px 20px 15px 412px 404px '../../images/sprite.png' 'email';
$fuel_name = 'fuel';
$fuel_x = 106px;
$fuel_y = 350px;
$fuel_offset_x = -106px;
$fuel_offset_y = -350px;
$fuel_width = 35px;
$fuel_height = 50px;
$fuel_total_width = 412px;
$fuel_total_height = 404px;
$fuel_image = '../../images/sprite.png';
$fuel = 106px 350px -106px -350px 35px 50px 412px 404px '../../images/sprite.png' 'fuel';
$link_arrow_name = 'link-arrow';
$link_arrow_x = 277px;
$link_arrow_y = 350px;
$link_arrow_offset_x = -277px;
$link_arrow_offset_y = -350px;
$link_arrow_width = 15px;
$link_arrow_height = 8px;
$link_arrow_total_width = 412px;
$link_arrow_total_height = 404px;
$link_arrow_image = '../../images/sprite.png';
$link_arrow = 277px 350px -277px -350px 15px 8px 412px 404px '../../images/sprite.png' 'link-arrow';
$location_name = 'location';
$location_x = 145px;
$location_y = 373px;
$location_offset_x = -145px;
$location_offset_y = -373px;
$location_width = 15px;
$location_height = 21px;
$location_total_width = 412px;
$location_total_height = 404px;
$location_image = '../../images/sprite.png';
$location = 145px 373px -145px -373px 15px 21px 412px 404px '../../images/sprite.png' 'location';
$partner_name = 'partner';
$partner_x = 214px;
$partner_y = 350px;
$partner_offset_x = -214px;
$partner_offset_y = -350px;
$partner_width = 18px;
$partner_height = 15px;
$partner_total_width = 412px;
$partner_total_height = 404px;
$partner_image = '../../images/sprite.png';
$partner = 214px 350px -214px -350px 18px 15px 412px 404px '../../images/sprite.png' 'partner';
$pdf_name = 'pdf';
$pdf_x = 145px;
$pdf_y = 350px;
$pdf_offset_x = -145px;
$pdf_offset_y = -350px;
$pdf_width = 17px;
$pdf_height = 19px;
$pdf_total_width = 412px;
$pdf_total_height = 404px;
$pdf_image = '../../images/sprite.png';
$pdf = 145px 350px -145px -350px 17px 19px 412px 404px '../../images/sprite.png' 'pdf';
$phone_name = 'phone';
$phone_x = 381px;
$phone_y = 208px;
$phone_offset_x = -381px;
$phone_offset_y = -208px;
$phone_width = 20px;
$phone_height = 20px;
$phone_total_width = 412px;
$phone_total_height = 404px;
$phone_image = '../../images/sprite.png';
$phone = 381px 208px -381px -208px 20px 20px 412px 404px '../../images/sprite.png' 'phone';
$question_name = 'question';
$question_x = 186px;
$question_y = 373px;
$question_offset_x = -186px;
$question_offset_y = -373px;
$question_width = 17px;
$question_height = 17px;
$question_total_width = 412px;
$question_total_height = 404px;
$question_image = '../../images/sprite.png';
$question = 186px 373px -186px -373px 17px 17px 412px 404px '../../images/sprite.png' 'question';
$questions_name = 'questions';
$questions_x = 166px;
$questions_y = 350px;
$questions_offset_x = -166px;
$questions_offset_y = -350px;
$questions_width = 20px;
$questions_height = 16px;
$questions_total_width = 412px;
$questions_total_height = 404px;
$questions_image = '../../images/sprite.png';
$questions = 166px 350px -166px -350px 20px 16px 412px 404px '../../images/sprite.png' 'questions';
$rub_name = 'rub';
$rub_x = 227px;
$rub_y = 373px;
$rub_offset_x = -227px;
$rub_offset_y = -373px;
$rub_width = 14px;
$rub_height = 16px;
$rub_total_width = 412px;
$rub_total_height = 404px;
$rub_image = '../../images/sprite.png';
$rub = 227px 373px -227px -373px 14px 16px 412px 404px '../../images/sprite.png' 'rub';
$send_name = 'send';
$send_x = 164px;
$send_y = 373px;
$send_offset_x = -164px;
$send_offset_y = -373px;
$send_width = 18px;
$send_height = 17px;
$send_total_width = 412px;
$send_total_height = 404px;
$send_image = '../../images/sprite.png';
$send = 164px 373px -164px -373px 18px 17px 412px 404px '../../images/sprite.png' 'send';
$show_name = 'show';
$show_x = 236px;
$show_y = 350px;
$show_offset_x = -236px;
$show_offset_y = -350px;
$show_width = 17px;
$show_height = 14px;
$show_total_width = 412px;
$show_total_height = 404px;
$show_image = '../../images/sprite.png';
$show = 236px 350px -236px -350px 17px 14px 412px 404px '../../images/sprite.png' 'show';
$up_name = 'up';
$up_x = 312px;
$up_y = 208px;
$up_offset_x = -312px;
$up_offset_y = -208px;
$up_width = 31px;
$up_height = 32px;
$up_total_width = 412px;
$up_total_height = 404px;
$up_image = '../../images/sprite.png';
$up = 312px 208px -312px -208px 31px 32px 412px 404px '../../images/sprite.png' 'up';
$write_to_us_name = 'write-to-us';
$write_to_us_x = 0px;
$write_to_us_y = 350px;
$write_to_us_offset_x = 0px;
$write_to_us_offset_y = -350px;
$write_to_us_width = 102px;
$write_to_us_height = 54px;
$write_to_us_total_width = 412px;
$write_to_us_total_height = 404px;
$write_to_us_image = '../../images/sprite.png';
$write_to_us = 0px 350px 0px -350px 102px 54px 412px 404px '../../images/sprite.png' 'write-to-us';
$ww1_name = 'ww1';
$ww1_x = 208px;
$ww1_y = 246px;
$ww1_offset_x = -208px;
$ww1_offset_y = -246px;
$ww1_width = 100px;
$ww1_height = 100px;
$ww1_total_width = 412px;
$ww1_total_height = 404px;
$ww1_image = '../../images/sprite.png';
$ww1 = 208px 246px -208px -246px 100px 100px 412px 404px '../../images/sprite.png' 'ww1';
$ww2_name = 'ww2';
$ww2_x = 104px;
$ww2_y = 246px;
$ww2_offset_x = -104px;
$ww2_offset_y = -246px;
$ww2_width = 100px;
$ww2_height = 100px;
$ww2_total_width = 412px;
$ww2_total_height = 404px;
$ww2_image = '../../images/sprite.png';
$ww2 = 104px 246px -104px -246px 100px 100px 412px 404px '../../images/sprite.png' 'ww2';
$ww3_name = 'ww3';
$ww3_x = 0px;
$ww3_y = 246px;
$ww3_offset_x = 0px;
$ww3_offset_y = -246px;
$ww3_width = 100px;
$ww3_height = 100px;
$ww3_total_width = 412px;
$ww3_total_height = 404px;
$ww3_image = '../../images/sprite.png';
$ww3 = 0px 246px 0px -246px 100px 100px 412px 404px '../../images/sprite.png' 'ww3';
$ww4_name = 'ww4';
$ww4_x = 312px;
$ww4_y = 104px;
$ww4_offset_x = -312px;
$ww4_offset_y = -104px;
$ww4_width = 100px;
$ww4_height = 100px;
$ww4_total_width = 412px;
$ww4_total_height = 404px;
$ww4_image = '../../images/sprite.png';
$ww4 = 312px 104px -312px -104px 100px 100px 412px 404px '../../images/sprite.png' 'ww4';
$ww5_name = 'ww5';
$ww5_x = 312px;
$ww5_y = 0px;
$ww5_offset_x = -312px;
$ww5_offset_y = 0px;
$ww5_width = 100px;
$ww5_height = 100px;
$ww5_total_width = 412px;
$ww5_total_height = 404px;
$ww5_image = '../../images/sprite.png';
$ww5 = 312px 0px -312px 0px 100px 100px 412px 404px '../../images/sprite.png' 'ww5';
$ww6_name = 'ww6';
$ww6_x = 312px;
$ww6_y = 246px;
$ww6_offset_x = -312px;
$ww6_offset_y = -246px;
$ww6_width = 100px;
$ww6_height = 100px;
$ww6_total_width = 412px;
$ww6_total_height = 404px;
$ww6_image = '../../images/sprite.png';
$ww6 = 312px 246px -312px -246px 100px 100px 412px 404px '../../images/sprite.png' 'ww6';
$spritesheet_width = 412px;
$spritesheet_height = 404px;
$spritesheet_image = '../../images/sprite.png';
$spritesheet_sprites = $c1 $c2 $c3 $c4 $c5 $c6 $calc $check $chevrow_right $close_calc $close_popup $email $fuel $link_arrow $location $partner $pdf $phone $question $questions $rub $send $show $up $write_to_us $ww1 $ww2 $ww3 $ww4 $ww5 $ww6;
$spritesheet = 412px 404px '../../images/sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
