/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$c1_name = 'c1';
$c1_x = 0px;
$c1_y = 0px;
$c1_offset_x = 0px;
$c1_offset_y = 0px;
$c1_width = 100px;
$c1_height = 119px;
$c1_total_width = 412px;
$c1_total_height = 400px;
$c1_image = '../../images/sprite.png';
$c1 = 0px 0px 0px 0px 100px 119px 412px 400px '../../images/sprite.png' 'c1';
$c2_name = 'c2';
$c2_x = 208px;
$c2_y = 123px;
$c2_offset_x = -208px;
$c2_offset_y = -123px;
$c2_width = 100px;
$c2_height = 119px;
$c2_total_width = 412px;
$c2_total_height = 400px;
$c2_image = '../../images/sprite.png';
$c2 = 208px 123px -208px -123px 100px 119px 412px 400px '../../images/sprite.png' 'c2';
$c3_name = 'c3';
$c3_x = 104px;
$c3_y = 0px;
$c3_offset_x = -104px;
$c3_offset_y = 0px;
$c3_width = 100px;
$c3_height = 119px;
$c3_total_width = 412px;
$c3_total_height = 400px;
$c3_image = '../../images/sprite.png';
$c3 = 104px 0px -104px 0px 100px 119px 412px 400px '../../images/sprite.png' 'c3';
$c4_name = 'c4';
$c4_x = 208px;
$c4_y = 0px;
$c4_offset_x = -208px;
$c4_offset_y = 0px;
$c4_width = 100px;
$c4_height = 119px;
$c4_total_width = 412px;
$c4_total_height = 400px;
$c4_image = '../../images/sprite.png';
$c4 = 208px 0px -208px 0px 100px 119px 412px 400px '../../images/sprite.png' 'c4';
$c5_name = 'c5';
$c5_x = 0px;
$c5_y = 123px;
$c5_offset_x = 0px;
$c5_offset_y = -123px;
$c5_width = 100px;
$c5_height = 119px;
$c5_total_width = 412px;
$c5_total_height = 400px;
$c5_image = '../../images/sprite.png';
$c5 = 0px 123px 0px -123px 100px 119px 412px 400px '../../images/sprite.png' 'c5';
$c6_name = 'c6';
$c6_x = 104px;
$c6_y = 123px;
$c6_offset_x = -104px;
$c6_offset_y = -123px;
$c6_width = 100px;
$c6_height = 119px;
$c6_total_width = 412px;
$c6_total_height = 400px;
$c6_image = '../../images/sprite.png';
$c6 = 104px 123px -104px -123px 100px 119px 412px 400px '../../images/sprite.png' 'c6';
$check_name = 'check';
$check_x = 82px;
$check_y = 350px;
$check_offset_x = -82px;
$check_offset_y = -350px;
$check_width = 16px;
$check_height = 11px;
$check_total_width = 412px;
$check_total_height = 400px;
$check_image = '../../images/sprite.png';
$check = 82px 350px -82px -350px 16px 11px 412px 400px '../../images/sprite.png' 'check';
$chevrow_right_name = 'chevrow-right';
$chevrow_right_x = 312px;
$chevrow_right_y = 208px;
$chevrow_right_offset_x = -312px;
$chevrow_right_offset_y = -208px;
$chevrow_right_width = 30px;
$chevrow_right_height = 30px;
$chevrow_right_total_width = 412px;
$chevrow_right_total_height = 400px;
$chevrow_right_image = '../../images/sprite.png';
$chevrow_right = 312px 208px -312px -208px 30px 30px 412px 400px '../../images/sprite.png' 'chevrow-right';
$email_name = 'email';
$email_x = 58px;
$email_y = 350px;
$email_offset_x = -58px;
$email_offset_y = -350px;
$email_width = 20px;
$email_height = 15px;
$email_total_width = 412px;
$email_total_height = 400px;
$email_image = '../../images/sprite.png';
$email = 58px 350px -58px -350px 20px 15px 412px 400px '../../images/sprite.png' 'email';
$fuel_name = 'fuel';
$fuel_x = 0px;
$fuel_y = 350px;
$fuel_offset_x = 0px;
$fuel_offset_y = -350px;
$fuel_width = 35px;
$fuel_height = 50px;
$fuel_total_width = 412px;
$fuel_total_height = 400px;
$fuel_image = '../../images/sprite.png';
$fuel = 0px 350px 0px -350px 35px 50px 412px 400px '../../images/sprite.png' 'fuel';
$link_arrow_name = 'link-arrow';
$link_arrow_x = 102px;
$link_arrow_y = 350px;
$link_arrow_offset_x = -102px;
$link_arrow_offset_y = -350px;
$link_arrow_width = 15px;
$link_arrow_height = 8px;
$link_arrow_total_width = 412px;
$link_arrow_total_height = 400px;
$link_arrow_image = '../../images/sprite.png';
$link_arrow = 102px 350px -102px -350px 15px 8px 412px 400px '../../images/sprite.png' 'link-arrow';
$location_name = 'location';
$location_x = 39px;
$location_y = 350px;
$location_offset_x = -39px;
$location_offset_y = -350px;
$location_width = 15px;
$location_height = 21px;
$location_total_width = 412px;
$location_total_height = 400px;
$location_image = '../../images/sprite.png';
$location = 39px 350px -39px -350px 15px 21px 412px 400px '../../images/sprite.png' 'location';
$partner_name = 'partner';
$partner_x = 394px;
$partner_y = 208px;
$partner_offset_x = -394px;
$partner_offset_y = -208px;
$partner_width = 18px;
$partner_height = 15px;
$partner_total_width = 412px;
$partner_total_height = 400px;
$partner_image = '../../images/sprite.png';
$partner = 394px 208px -394px -208px 18px 15px 412px 400px '../../images/sprite.png' 'partner';
$phone_name = 'phone';
$phone_x = 346px;
$phone_y = 208px;
$phone_offset_x = -346px;
$phone_offset_y = -208px;
$phone_width = 20px;
$phone_height = 20px;
$phone_total_width = 412px;
$phone_total_height = 400px;
$phone_image = '../../images/sprite.png';
$phone = 346px 208px -346px -208px 20px 20px 412px 400px '../../images/sprite.png' 'phone';
$questions_name = 'questions';
$questions_x = 370px;
$questions_y = 208px;
$questions_offset_x = -370px;
$questions_offset_y = -208px;
$questions_width = 20px;
$questions_height = 16px;
$questions_total_width = 412px;
$questions_total_height = 400px;
$questions_image = '../../images/sprite.png';
$questions = 370px 208px -370px -208px 20px 16px 412px 400px '../../images/sprite.png' 'questions';
$ww1_name = 'ww1';
$ww1_x = 312px;
$ww1_y = 246px;
$ww1_offset_x = -312px;
$ww1_offset_y = -246px;
$ww1_width = 100px;
$ww1_height = 100px;
$ww1_total_width = 412px;
$ww1_total_height = 400px;
$ww1_image = '../../images/sprite.png';
$ww1 = 312px 246px -312px -246px 100px 100px 412px 400px '../../images/sprite.png' 'ww1';
$ww2_name = 'ww2';
$ww2_x = 104px;
$ww2_y = 246px;
$ww2_offset_x = -104px;
$ww2_offset_y = -246px;
$ww2_width = 100px;
$ww2_height = 100px;
$ww2_total_width = 412px;
$ww2_total_height = 400px;
$ww2_image = '../../images/sprite.png';
$ww2 = 104px 246px -104px -246px 100px 100px 412px 400px '../../images/sprite.png' 'ww2';
$ww3_name = 'ww3';
$ww3_x = 0px;
$ww3_y = 246px;
$ww3_offset_x = 0px;
$ww3_offset_y = -246px;
$ww3_width = 100px;
$ww3_height = 100px;
$ww3_total_width = 412px;
$ww3_total_height = 400px;
$ww3_image = '../../images/sprite.png';
$ww3 = 0px 246px 0px -246px 100px 100px 412px 400px '../../images/sprite.png' 'ww3';
$ww4_name = 'ww4';
$ww4_x = 312px;
$ww4_y = 104px;
$ww4_offset_x = -312px;
$ww4_offset_y = -104px;
$ww4_width = 100px;
$ww4_height = 100px;
$ww4_total_width = 412px;
$ww4_total_height = 400px;
$ww4_image = '../../images/sprite.png';
$ww4 = 312px 104px -312px -104px 100px 100px 412px 400px '../../images/sprite.png' 'ww4';
$ww5_name = 'ww5';
$ww5_x = 312px;
$ww5_y = 0px;
$ww5_offset_x = -312px;
$ww5_offset_y = 0px;
$ww5_width = 100px;
$ww5_height = 100px;
$ww5_total_width = 412px;
$ww5_total_height = 400px;
$ww5_image = '../../images/sprite.png';
$ww5 = 312px 0px -312px 0px 100px 100px 412px 400px '../../images/sprite.png' 'ww5';
$ww6_name = 'ww6';
$ww6_x = 208px;
$ww6_y = 246px;
$ww6_offset_x = -208px;
$ww6_offset_y = -246px;
$ww6_width = 100px;
$ww6_height = 100px;
$ww6_total_width = 412px;
$ww6_total_height = 400px;
$ww6_image = '../../images/sprite.png';
$ww6 = 208px 246px -208px -246px 100px 100px 412px 400px '../../images/sprite.png' 'ww6';
$spritesheet_width = 412px;
$spritesheet_height = 400px;
$spritesheet_image = '../../images/sprite.png';
$spritesheet_sprites = $c1 $c2 $c3 $c4 $c5 $c6 $check $chevrow_right $email $fuel $link_arrow $location $partner $phone $questions $ww1 $ww2 $ww3 $ww4 $ww5 $ww6;
$spritesheet = 412px 400px '../../images/sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
